JWT_SECRET=your-super-secret-key-here

DATABASE_HOST=ep-pooler.us-east-2.aws.neon.tech
DATABASE_PORT=5432
DATABASE_USERNAME=neondb_owner
DATABASE_PASSWORD=pass
DATABASE_NAME=neondb
DATABASE_SSL=true
DATABASE_URL=postgresql://neondb_owner-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require
